.modal
  position: fixed
  inset-block-start: 50%
  inset-inline-start: 50%
  transform: translate(-50%, -50%)

// .modal.contain
//   overflow: auto
//   max-inline-size: calc(100% - (var(--gap, 1.5rem) * 2))
//   max-block-size: calc(100% - (var(--gap, 1.5rem) * 2))
