.medium
  font-weight: var(--weight-medium) !important

.bold
  font-weight: var(--weight-bold) !important

.large
  font-size: var(--font-size-big) !important

.small
  font-size: var(--font-size-tiny) !important
