.green,
.success 
  color: var(--color-success) !important

.orange,
.warning
  color: var(--color-warning) !important

.info-blue,
.info
  color: var(--color-info) !important

.red,
.error,
.danger
  color: var(--color-danger) !important